{{- /* Static head assets cached across pages in one build. */ -}}
{{- /* Fonts */ -}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- Preload core brand font to avoid FOUT/FOIT -->
<link rel="preload" href="/fonts/switzer/Switzer-Regular.woff2" as="font" type="font/woff2" crossorigin>
<!-- Here I load the comparison fonts you requested: Syncopate, JetBrains Mono, Playfair Display, Inter, and Newsreader/Geist Mono for easier switching -->
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Newsreader:ital,wght@0,400;0,500;1,400;1,500&family=Noto+Sans+SC:wght@400;500;700&family=Noto+Serif+SC:wght@400;700&display=swap" rel="stylesheet" media="print" onload="this.media='all'">

{{- /* CSS pipeline: global base bundle + route-level styles */ -}}
{{- $base := resources.Get "css/base.css" -}}
{{- $layout := resources.Get "css/layout.css" -}}
{{- $components := resources.Get "css/components.css" -}}
{{- $search := resources.Get "css/search.css" -}}
{{- $style := slice $base $layout $components $search | resources.Concat "css/bundle.css" | resources.Minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

{{- if .IsHome -}}
    {{- $home := resources.Get "css/home.css" -}}
    {{- $homeStyle := $home | resources.Minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $homeStyle.RelPermalink }}" integrity="{{ $homeStyle.Data.Integrity }}">
{{- end -}}

{{- if .IsPage -}}
    {{- $post := resources.Get "css/post.css" -}}
    {{- $postStyle := $post | resources.Minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $postStyle.RelPermalink }}" integrity="{{ $postStyle.Data.Integrity }}">
{{- end -}}

{{- if eq .Section "microblog" -}}
    {{- $microblog := resources.Get "css/microblog.css" -}}
    {{- $microblogStyle := $microblog | resources.Minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $microblogStyle.RelPermalink }}" integrity="{{ $microblogStyle.Data.Integrity }}">
{{- end -}}

{{- $mainJS := resources.Get "js/main.js" | js.Build (dict "targetPath" "js/main.js") | resources.Minify | fingerprint -}}
<script defer src="{{ $mainJS.RelPermalink }}" integrity="{{ $mainJS.Data.Integrity }}"></script>

{{- if and (eq .Section "microblog") (eq .Kind "section") -}}
    {{- $microblogJS := resources.Get "js/microblog.js" | js.Build (dict "targetPath" "js/microblog.js") | resources.Minify | fingerprint -}}
    <script defer src="{{ $microblogJS.RelPermalink }}" integrity="{{ $microblogJS.Data.Integrity }}"></script>
{{- end -}}
