{{- /* Static head assets cached across pages in one build. */ -}}
{{- /* Fonts */ -}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- Here I load the comparison fonts you requested: Syncopate, JetBrains Mono, Playfair Display, Inter, and Newsreader/Geist Mono for easier switching -->
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Newsreader:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet" media="print" onload="this.media='all'">

{{- /* CSS pipeline: concatenate, minify, fingerprint */ -}}
{{- $base := resources.Get "css/base.css" -}}
{{- $layout := resources.Get "css/layout.css" -}}
{{- $components := resources.Get "css/components.css" -}}
{{- $home := resources.Get "css/home.css" -}}
{{- $post := resources.Get "css/post.css" -}}
{{- $style := slice $base $layout $components $home $post | resources.Concat "css/bundle.css" | resources.Minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
