{{- $siteEnabled := or .Site.Params.enablekatex .Site.Params.enableKaTeX -}}
{{- if $siteEnabled -}}
    {{- $hasOverride := false -}}
    {{- $pageEnabledRaw := false -}}
    {{- if isset .Params "enablekatex" -}}
        {{- $hasOverride = true -}}
        {{- $pageEnabledRaw = .Params.enablekatex -}}
    {{- else if isset .Params "enableKaTeX" -}}
        {{- $hasOverride = true -}}
        {{- $pageEnabledRaw = .Params.enableKaTeX -}}
    {{- else if isset .Params "math" -}}
        {{- $hasOverride = true -}}
        {{- $pageEnabledRaw = .Params.math -}}
    {{- end -}}

    {{- $pageEnabled := partial "is-truthy.html" $pageEnabledRaw -}}

    {{- $hasMathDelimiters := false -}}
    {{- if and (not $hasOverride) .IsPage -}}
        {{- $raw := .RawContent -}}
        {{- $maybeMath := or (in $raw "$") (in $raw "\\(") (in $raw "\\[") -}}
        {{- if $maybeMath -}}
            {{- $hasMathDelimiters = or
                (gt (len (findRE `\$\$[\s\S]*?\$\$` $raw 1)) 0)
                (gt (len (findRE `\\\([\s\S]*?\\\)` $raw 1)) 0)
                (gt (len (findRE `\\\[[\s\S]*?\\\]` $raw 1)) 0)
                (gt (len (findRE `(^|[^\\])\$[^$\n]+\$` $raw 1)) 0)
            -}}
        {{- end -}}
    {{- end -}}

    {{- $enableKaTeX := false -}}
    {{- if $hasOverride -}}
        {{- $enableKaTeX = $pageEnabled -}}
    {{- else -}}
        {{- $enableKaTeX = $hasMathDelimiters -}}
    {{- end -}}

    {{- if $enableKaTeX -}}
    <link rel="stylesheet" href="{{ "lib/katex/katex.min.css" | relURL }}">
    <script defer src="{{ "lib/katex/katex.min.js" | relURL }}"></script>
    <script defer src="{{ "lib/katex/auto-render.min.js" | relURL }}"></script>
    <script defer>
        document.addEventListener('DOMContentLoaded', function () {
            if (typeof renderMathInElement === 'function') {
                renderMathInElement(document.body, {
                    delimiters: [
                        {left: '$$', right: '$$', display: true},
                        {left: '\\(', right: '\\)', display: false},
                        {left: '\\[', right: '\\]', display: true},
                        {left: '$', right: '$', display: false}
                    ],
                    throwOnError: false
                });
            }
        });
    </script>
    {{- end -}}
{{- end -}}
