<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "head/seo.html" (dict "page" .) }}
    {{ partial "head/assets.html" . }}
</head>
<body class="{{ if .IsHome }}home-page{{ else }}not-home{{ end }}">
    <div class="site-container">
        <aside class="site-sidebar"></aside>
        <main class="site-main">
            {{ block "main" . }}{{ end }}
            <footer class="site-footer">
                <span>AL-{{ now.Year }}</span>
                <span>CREATIVE ENGINEER</span>
            </footer>
        </main>
        <aside class="site-sidebar-right">{{ block "sidebar-right" . }}{{ end }}</aside>
    </div>
</body>
</html>
