{{ define "sidebar-left" }}
{{- $tagSlice := partialCached "tag-sidebar-data.html" . .Path -}}
{{- $regularPages := where .Pages "Kind" "page" -}}
{{- .Store.Set "regularPages" $regularPages -}}
{{ $years := slice }}
{{ range $regularPages.GroupByPublishDate "2006" }}
    {{ $years = $years | append .Key }}
{{ end }}
{{ .Store.Set "years" $years }}
{{ partial "archive-sidebar-left.html" (dict "context" . "regularPages" $regularPages "years" $years "tagSlice" $tagSlice) }}
{{ end }}

{{ define "sidebar-bottom" }}
{{ $years := .Store.Get "years" }}
{{ partial "archive-sidebar-bottom.html" (dict "years" $years) }}
{{ end }}

{{ define "main" }}
{{ $regularPages := .Store.Get "regularPages" }}
<div class="archive-main-col">
    {{ if .Content }}
    <div class="archive-intro-section">
        <h3 class="archive-col-header">Info:</h3>
        <div class="archive-intro-text">
            {{ .Content }}
        </div>
    </div>
    {{ end }}

    <div class="archive-list-header">
        <span class="header-col-year">Date:</span>
        <span class="header-col-project">Project:</span>
    </div>

    {{ partial "archive-list-items.html" (dict "pages" $regularPages) }}
</div>
{{ end }}

{{ define "sidebar-right" }}
<div class="archive-right-cols">
    <div class="archive-view-col">
        <h3 class="archive-col-header">Preview:</h3>

        <div id="archive-preview-container" class="preview-container">
            <!-- Content injected by JS -->
        </div>
    </div>
</div>
{{ end }}
