{{ define "main" }}
<article class="post-single">
    <header class="post-header">
        {{ $back := partial "back-link-data.html" (dict "page" . "section" .CurrentSection) }}
        {{ partial "title-with-back.html" (dict
            "href" $back.href
            "label" $back.label
            "title" .Title
            "titleClass" "post-title"
        ) }}
        <div class="post-meta">
            <time class="post-date">{{ .Date.Format "2006/01/02" }}</time>
            {{ if .Translations }}
                {{ partial "lang-switch-links.html" (dict "translations" .Translations "class" "lang-switch" "showSep" true) }}
            {{ end }}
        </div>
    </header>

    {{ if .TableOfContents }}
    <aside class="post-toc post-toc--inline">
        {{ .TableOfContents }}
    </aside>
    {{ end }}

    <div class="post-content">
        {{ .Content }}
    </div>

    {{ partial "translation-notice.html" . }}
</article>

{{ if .TableOfContents }}
{{ partial "post-toc-script.html" . }}
{{ end }}
{{ end }}

{{ define "sidebar-right" }}
    {{ if .TableOfContents }}
    <aside class="post-toc post-toc--sidebar">
        {{ .TableOfContents }}
    </aside>
    {{ end }}
{{ end }}

