{{- $pages := .pages -}}
{{- $initialTags := .initialTags | default (slice) -}}

<div class="archive-list" data-archive-filter-root data-archive-initial-tags="{{ delimit $initialTags "," }}">
    {{ range $pages.GroupByPublishDate "2006" }}
        {{ range .Pages }}
            {{- $tagSlugs := slice -}}
            {{- with .Params.tags -}}
                {{- range . -}}
                    {{- $tagSlugs = $tagSlugs | append (printf "%v" . | urlize) -}}
                {{- end -}}
            {{- end -}}
            <article class="archive-item" data-archive-year="{{ .Date.Format "2006" }}" data-archive-tags="{{ delimit $tagSlugs "," }}">
                <div class="item-hover-arrow">
                    {{ partialCached "icons/hover-arrow.html" "hover-arrow" }}
                </div>
                <a href="{{ .RelPermalink }}" class="item-year">
                    {{ .Date.Format "2006.01.02" }}
                </a>
                <div class="item-title-wrapper">
                    <a href="{{ .RelPermalink }}" class="item-title">
                        {{- .Title -}}
                        {{- $tags := .GetTerms "tags" -}}
                        {{- if gt (len $tags) 0 -}}
                            <span class="item-tag-dots">
                                {{- range $tags -}}
                                    <span class="item-dot" data-tag="{{ .LinkTitle | urlize }}"></span>
                                {{- end -}}
                            </span>
                        {{- end -}}
                    </a>
                </div>

                {{/* 这是给右侧 Preview 区域准备的隐藏数据 */}}
                <div class="item-preview-data" data-href="{{ .RelPermalink }}" style="display: none;">
                    <h4 class="preview-title">{{ .Title }}</h4>
                    <div class="preview-summary raw-content-preview">
                        {{ .Content }}
                    </div>
                </div>
            </article>
        {{ end }}
    {{ end }}
</div>
