{{- /* Build back-link href/label from section or page collection. */ -}}
{{- $page := .page -}}
{{- $href := $page.Site.Home.RelPermalink -}}
{{- $label := "Home" -}}

{{- with .section -}}
    {{- $href = .RelPermalink -}}
    {{- $label = .Title -}}
{{- else -}}
    {{- $pages := .pages | default (slice) -}}
    {{- if gt (len $pages) 0 -}}
        {{- $firstPage := index $pages 0 -}}
        {{- $targetSection := $firstPage.CurrentSection -}}
        {{- $allSameSection := true -}}
        {{- range $pages -}}
            {{- if ne .CurrentSection $targetSection -}}
                {{- $allSameSection = false -}}
                {{- break -}}
            {{- end -}}
        {{- end -}}
        {{- if and $allSameSection $targetSection -}}
            {{- $href = $targetSection.RelPermalink -}}
            {{- $label = $targetSection.Title -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- return (dict "href" $href "label" $label) -}}
