{{ $variant := "" }}
{{ $context := . }}
{{ with .variant }}
    {{ $variant = . }}
{{ end }}
{{ with .context }}
    {{ $context = . }}
{{ end }}
{{ $classes := (slice "tag-sidebar") }}
{{ if eq $variant "inline" }}
    {{ $classes = $classes | append "tag-sidebar--inline" }}
{{ else }}
    {{ $classes = $classes | append "tag-sidebar--sidebar" }}
{{ end }}
<div class="{{ delimit $classes " " }}">
    {{/* Collect tags from current context's pages (usually a section) */}}
    {{ $tags := dict }}
    {{ range $context.Pages }}
        {{ range .Params.tags }}
            {{ $currentCount := index $tags . | default 0 }}
            {{ $tags = merge $tags (dict . (add $currentCount 1)) }}
        {{ end }}
    {{ end }}
    
    {{/* Get keys and sort them */}}
    {{ $keys := slice }}
    {{ range $k, $v := $tags }}
        {{ $keys = $keys | append $k }}
    {{ end }}
    {{ $keys = sort $keys }}

    {{ if gt (len $keys) 0 }}
    <div class="tag-list">
        {{ range $keys }}
            {{ $name := . }}
            {{ $count := index $tags $name }}
            {{ $slug := printf "/tags/%s/" ($name | urlize) }}
            {{ $page := site.GetPage $slug }}
            <a href="{{ if $page }}{{ $page.RelPermalink }}{{ else }}{{ $slug | relLangURL }}{{ end }}" class="tag-item">
                <span>#{{ $name }}</span>
                <span class="tag-count">{{ $count }}</span>
            </a>
        {{ end }}
    </div>
    {{ end }}
</div>
