{{- /* Build sorted tag stats for the given page context. */ -}}
{{- $pages := .Pages -}}
{{- $tagCounts := dict -}}
{{- range $pages -}}
    {{- if eq .Kind "page" -}}
        {{- range .Params.tags -}}
            {{- $name := printf "%v" . -}}
            {{- $current := index $tagCounts $name | default 0 -}}
            {{- $tagCounts = merge $tagCounts (dict $name (add $current 1)) -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- $tagSlice := slice -}}
{{- range $name, $count := $tagCounts -}}
    {{- $tagSlice = $tagSlice | append (dict "name" $name "count" $count) -}}
{{- end -}}
{{- return (sort $tagSlice "count" "desc") -}}
